language: php

cache:
  directories:
    - $HOME/.composer/cache

php:
    - '7.2'
    - '7.3'
    - '7.4'

env:
    - LARAVEL=5.5
    - LARAVEL=5.6
    - LARAVEL=5.7
    - LARAVEL=5.8
    - LARAVEL=6.0
    - LARAVEL=6.18
    - LARAVEL=7.0
    - LARAVEL=7.1

before_script: echo 'memory_limit = 512M' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

script:
- vendor/bin/phpunit -c phpunit.xml.dist tests/

before_install:
  - MINOR=`echo $LARAVEL | sed 's/[5|6|7]\.\([0-9]\+\)/\1/'`
  - '[[ $LARAVEL =~ ^6\.[0-9]$ ]] && MAJOR=6 || MAJOR=5'
  - '[[ $LARAVEL =~ ^7\.[0-9]$ ]] && MAJOR=7 || true'
  - '[ 6 -eq $MAJOR ] && ORCH=4 || ORCH=3'
  - '[ 7 -eq $MAJOR ] && ORCH=5 || true'
  - composer require "illuminate/support:${MAJOR}.${MINOR}.*" --no-update -v
  - composer require "illuminate/console:${MAJOR}.${MINOR}.*" --no-update -v

install: composer install --no-interaction

notifications:
  email: false
  slack:
    secure: Ike6JMdo9UIkH6eykyxca1VfckHgAyx37azPMBBgyeaxdqqvc8rh2MYkgwl+W1t0CR5HSWf8n1PUj7a+KKmm/xW3tdE+qW8Nlz1HuKzQ9qN2cUQMvMYOv4luwaEU5HJhhVObeYDbEGCCVK0S9k1gWnTitRbCCxG7nYJ/4s/LyL+Iezy7LWDjKyH1n19HTDRtqzl/XvDQW+YWSYQqDvTWy+hLMKpwo8osLqBja2WCIlOkS2EyqGFxkGmPsqc91cvpmRA2vxR2rvIFWJHgtYa8aOvyHSB7AuvQOVl6xAfGc9F0QI+4KqyVWqYbpj7F8gxRS/fJuzRT+DPE6fAKB23ECAuSLFOx9DIOrOE+h1+EUcUxgGTSpwhZkXo/znN/SLdmK1vp8cqYjMYOw9ki3FVz+XxPmE2JiOIvmseRDtLYJFZ/dANwW6V9cLHSzVZKr8XjjULYv2Kxqwm+dOhFxsRGLYlsDSryebFeUSz92WSAD4tk7JM+lxROCWpzW55IwU3N9TyOkzNQ6Vl9chzvleim1pGWlrXClh7rEeCEGuCj+zERwI75VQKElIYhvPIw7ocntq3g/0Ca+iBvWk0ytHwKL2PMSjsNNLpVAHaaBMgisRhBXIFYtUkAaiZoeFA7KU3tQFl5ZslRT6GoPW+TmqHrFB3Y9TRUfqBZXG/2hXKFy9M=
